* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: Helvetica, sans-serif;
  margin-left: 2em;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 3em;
}

.box {
  background-color: rgb(176, 230, 253);
  padding: 40px 20px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}
