body {
  font-family: Helvetica, sans-serif;
  background: #fffff4;
}
@media screen and (min-width: 700px) {
  .headernav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.headernav {
  /* margin-right: auto; */
  font-family: Helvetica, sans-serif;
  margin: 2em;
}

.headernav > a {
  display: block;
  text-decoration: none;
}

h2 {
  font-family: Helvetica, sans-serif;

  color: #4f19f2;
}

.headernav h1 span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: #7a54ed;
}
.headernav h1 {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  color: rgb(210, 191, 255);
}
.headernav > * {
  margin: 0;
}

.smallpush a {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #7a54ed;
  text-decoration: none;
  margin: 1em;
}
.smallpush {
  gap: 10px;
}
