@font-face {
  font-family: "CourierPrime-Regular";
  src: url(../fonts/CourierPrime-Regular.woff);
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "CourierPrime-Regular";
  background: #fff;
}
@media screen and (min-width: 700px) {
  .headernav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.headernav {
  /* margin-right: auto; */
  font-family: "Courier New", Courier, monospace;
  margin: 2em;
  text-transform: uppercase;
  font-weight: 500;
}

.headernav > a {
  display: block;
  text-decoration: none;
}

h2 {
  font-family: "Arial";
  text-transform: uppercase;
}

.headernav h1 span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: hotpink;
}
.headernav h1 {
  font-family: Arial;
  font-size: 32px;
  color: black;
}
.headernav > * {
  margin: 0;
}

.smallpush a {
  font-size: 20px;

  color: #000000;
  text-decoration: none;
  margin: 1em;
}
.smallpush {
  gap: 10px;
}
.smallpush a:hover {
  text-decoration: underline;
  color: deeppink;
}
