* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categorylist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 3em;
}
/* 
.headernav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em; 
} */

.categorylist a {
  text-decoration: none;
  color: rgb(63, 79, 221);
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: rgb(210, 191, 255);
  padding: 40px 20px;
  align-items: center;
  border: 2px solid #7a54ed;
}
